<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Inspire</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cantarell|Pacifico" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="assets/images/icon.png" />
  <!-- Google Icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="public/styles/style.css">
  <title>Inspire</title>
</head>

<body>
  {{{body}}}
</body>

</html>