<div class="container container-404">
  <div class="row" style="text-align: center; margin: 0">
    <h1>Oops!!!</h1>
    <h3 style="font-family: 'Gamja Flower', cursive; line-height: 1.5rem">Looks like something broke</h3>
    <h5 style="font-family: 'Gamja Flower', cursive; line-height: 1.5rem; "><a href="/" style="color: #522908"><u>Go to Home</u></a></h5>
  </div>
    
</div>
<div id="home" class="panel">
    <div class="inner">
        <div id="backgroundchange">
            <div class="backgroundimg" id="back1"></div>
            <div class="backgroundimg" id="back2"></div>
            <div class="backgroundimg" id="back3"></div>
            <div class="backgroundimg" id="back4"></div>
            <div class="backgroundimg" id="back5"></div>
        </div>
    </div>
</div>