<<<<<<< HEAD
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center"></a>
        <ul class="left">
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row center">
        <div class="col m4"></div>
        <div class="col m4">
            <header id="header">(Page Not Found)</header>
        </div>
        <div class="col m4"></div>
    </div>
    <div class="row center">
        <div class="col m2"></div>
        <div class="input-field col m8" title="Enter your mood, and we'll help you out.">
            <input placeholder="I'd bet being lost has made you sad. Sorry." id="feeling" type="text" class="validate">
            <label id="feeling-label" for="feeling_type"></label>
        </div>
        <div class="col m2"></div>
    </div>
    <div class="row center">
        <div class="col m4"></div>
        <div class="col m4">
            <a class="waves-effect waves-light btn-small center blue darken-4" id="submit">Try Again!</a>
        </div>
        <div class="col m4"></div>
    </div>
=======
<div class="container container-404">
  {{!-- <div class="jumbotron mt-4 container-404">
    <h1 class="display-4 text-center">404 Not Found
      <span role="img" aria-label="Face with rolling eyes">🙄</span>
    </h1>
    <a href="/">← Back To Home</a>
  </div> --}}
  <div class="row" style="text-align: center; margin: 0">
    <h1>Oops!!!</h1>
    <h3 style="font-family: 'Gamja Flower', cursive; line-height: 1.5rem">Looks like something broke</h3>
    <h5 style="font-family: 'Gamja Flower', cursive; line-height: 1.5rem; "><a href="/" style="color: #522908"><u>Go to Home</u></a></h5>
  </div>
    
>>>>>>> master
</div>
<div id="home" class="panel">
    <div class="inner">
        <div id="backgroundchange">
            <div class="backgroundimg" id="back1"></div>
            <div class="backgroundimg" id="back2"></div>
            <div class="backgroundimg" id="back3"></div>
            <div class="backgroundimg" id="back4"></div>
            <div class="backgroundimg" id="back5"></div>
        </div>
    </div>
</div>