<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center"></a>
        <ul class="left">
            <li><a id="login" href="#">Login</a></li>
            <li><a id="register" href="#">Register</a></li>
        </ul>
    </div>
</nav>
<div id="login-form" class="webui-popover-content">
    <form action="/api/login" method="post">
        <div class="input-field">
            <input type="text" placeholder="username" value="" id="username-login" name="userName" required="true">
        </div>
        <div class="input-field">
            <input type="password" placeholder="password" value="" id="password-login" name="password" required="true">
        </div>
        <button class="btn waves-effect waves-light blue darken-4 modal-trigger" href="#modal2" type="submit" name="action" id="login-btn">Login
            <i class="material-icons right">send</i>
        </button>
        <div id="modal2" class="modal">
                <div class="modal-content">
                  <h4>You're logged in!</h4>
                  <p>Welcome! In the future, we hope to be able to save your quotes and song choices, record past moods, and give you the ability to share your favorites from our site. Thank you for using our product! </p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Enjoy!</a>
                </div>
              </div>
    </form>
</div>
<div id="register-form" class="webui-popover-content">
    <form action="/api/register" method="post">
        <div class="input-field">
            <input type="text" placeholder="username" value="" id="username-register" name="userName" required="true">
        </div>
        <div class="input-field">
            <input type="password" placeholder="password" value="" id="password-register" name="password" required="true">
        </div>
        <button class="btn waves-effect waves-light blue darken-4 modal-trigger" href="#modal1" id="register-button" type="submit" name="action">Register
            <i class="material-icons right">person_add</i>
        </button>
               <div id="modal1" class="modal">
                    <div class="modal-content">
                      <h4>Thank you for registering!</h4>
                      <p>Please enter the username and password used to register in the login tab, and start getting inspired now!</p>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Let's go!</a>
                    </div>
                  </div>
    </form>
</div>
<div class="container">
    <div class="row center">
        <div class="col m4"></div>
        <div class="col m4">
            <header id="header">Inspire</header>
        </div>
        <div class="col m4"></div>
    </div>
    <div class="row center">
        <div class="col m2"></div>
        <div class="input-field col m8" title="Enter your mood, and we'll help you out.">
            <input placeholder="How are you feeling?" id="feeling" type="text" class="validate">
            <label id="feeling-label" for="feeling_type"></label>
        </div>
        <div class="col m2"></div>
    </div>
    <div class="row center">
        <div class="col m4"></div>
        <div class="col m4">
            <a class="waves-effect waves-light btn-small center blue darken-4" id="submit">Set My Mood</a>
        </div>
        <div class="col m4"></div>
    </div>
</div>
<div id="home" class="panel">
    <div class="inner">
        <div id="backgroundchange">
            <div class="backgroundimg" id="back1"></div>
            <div class="backgroundimg" id="back2"></div>
            <div class="backgroundimg" id="back3"></div>
            <div class="backgroundimg" id="back4"></div>
            <div class="backgroundimg" id="back5"></div>
        </div>
    </div>
</div>