<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Inspire</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <!-- Profile hyperlink to profile.html page -->
                <a href="#">Profile (username)</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="input-field col m6">
            <p>
                <span class="label">Quote:</span> {{this.quote}}
            </p>
        </div>
        <div class="input-field col m6">
            <p>
                <span class="label">Song:</span> {{this.song}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col m5"></div>
        <div class="col m2">
            <a class="waves-effect waves-light btn-small" id="return">Return Home</a>
        </div>
        <div class="col m5"></div>
    </div>
</div>