<nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center"></a>
        </div>
        <div class="row center">
            <div class="col m4"></div>
            <div class="col m4">
                <header id="resultsHeader">Inspire</header>
            </div>
            <div class="col m4"></div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="input-field col m6">
                <p>
                    <span class="label">Quote:</span> {{this.quote}}
                </p>
            </div>
            <div class="input-field col m6">
                <p>
                    <span class="label">Song:</span> {{this.song}}
                </p>
            </div>
        </div>
    </div>