<nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center"></a>
            <ul class="left" id="resultprofile">
                <li><a id="profile" href="#">Profile</a></li>
        </div>
    </nav>
    <div class="resultsContainer">
        <div class="row center">
            <div class="col m4"></div>
            <div class="col m4">
                <header id="resultsHeader">Inspire</header>
            </div>
            <div class="col m4"></div>
        </div>
        
        <div id="container">
            <div class="first">
                <p class="label">Song:</p>
                <a href="{{this.song}}" target="_blank">play Me!!</a>
            </div>
            <div class="second">
                <p class="label">Quote:</p>
                <!--{{this.quote}}-->
                <ul>
                    {{#each quote}}
                        <span>"</span>
                        <li>{{this}}</li>
                        <span>"</span>
                    {{/each}}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
