<body style="background:url(https://images.pexels.com/photos/921299/pexels-photo-921299.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350); height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    <nav>
        <div class="nav-wrapper" style="background-color: #ee6e73; text-align: center; font-size: 64px; -webkit-box-shadow: none;">
            <a href="#" class="brand-logo center">Inspire</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down" style="font-family: 'Fjalla One', sans-serif;">
                <li>
                    <!-- Profile hyperlink to profile.html page -->
                    <a href="#">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="input-field col m12">
                <div>
                    <h3 class="label" style="margin-top:100px ;  text-align: center ">
                        <strong>Quote!!</strong>
                    </h3>
                    <!--{{this.quote}}-->
                    <ul style="font-family: cursive; font-size: 35px; font-weight: bolder">
                        {{#each quote}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div>
                    {{!--
                    <h5 class="label">
                        <strong>Song</strong>
                    </h5> --}}
                    <a href="{{this.song}}" target="_blank">
                        <h5 style="text-align: center; color: black; text-decoration: underline; text-decoration-style: double; hover">Play Me!!</h5>
                    </a>
                </div>
            </div>
            {{!--
            <div class="input-field col m3"> --}} {{!--
                <div>
                    <h5 class="label" style="margin-top:200px; margin-right: 5px">
                        <strong>Song</strong>
                    </h5>
                    <a href="{{this.song}}" target="_blank">play Me!!</a>
                </div> --}} {{!-- </div> --}}
        </div>
        <div class="row">
            <div class="col m5"></div>
            <div class="col m2">
                <a class="waves-effect waves-light btn-small" style="background-color: #ee6e73" id="return" href="/">Return Home</a>
            </div>
            <div class="col m5"></div>
        </div>
</body>