body {
  border-color: transparent;
  font-family: 'Fjalla One', sans-serif;
}

.label {
  border-color: transparent;
  font-family: 'Fjalla One', sans-serif;
  color: white;
}

.list-group-item {
  line-height: 2.5;
}

 #submit {
   margin: 0 auto;
   margin-top: 60px;
   font-family: 'Fjalla One', sans-serif;
   display: inline-block;
   overflow: hidden;
   position: relative;
   text-decoration: none;
   text-transform: uppercase;
   border-radius: 3px;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
   box-shadow: 0 2px 10px rgba(0,0,0,0.5);
   border: none; 
   font-size: 15px;
   text-align: center;
 }

 #submit:hover {
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}

 #header {
   margin: 0 auto;
   margin-top: 175px;
   margin-bottom: 20px;
   font-size: 72px;
   color: #CAE4DB;
  font-family: 'Shrikhand', cursive;
 }

 /* #resultsHeader {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 36px;
  color: white;
  font-family: 'Shrikhand', cursive;
} */
 /* .resultsContainer {
  background-color: #7A9D96;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  color: white;;
} */

/* #container {
  display: inline-block;
  width: 100%;
  margin: auto;
  margin-left: 5%;
} */
 /* .first {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  width: 80%;
  height: 100px;
  word-wrap: break-word;
  padding: 8px;
 }
 .second {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  width: 80%;
  height: 100px;
  word-wrap: break-word;
  padding: 8px;
 }
 .clear{
   clear: both;
 } */


  nav {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
 }

  #resultsNav {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  }

 #feeling {
  font-weight: 300;
  text-shadow: 0px 0px 3px #000;
  color: white;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
}

.input-field input[type=text] {
  border-bottom: 1px solid #CAE4DB;;
  box-shadow: 0 1px 0 0 #CAE4DB;
}

.input-field input[type=text]:hover {
  border-bottom: 1px solid #7A9D9D; ;
  box-shadow: 0 1px 0 0 #7A9D9D;;
}

#feeling[type=text]:enabled {
  border-bottom: 1px solid #DCAE1D;;
  box-shadow: 0 1px 0 0 #DCAE1D;;
}

#feeling[type=text]:hover {
  border-bottom: 1px solid white;;
  box-shadow: 0 1px 0 0 white;;
}

#password[type=password]:enabled {
  border-bottom: 1px solid #0d47a1;;
  box-shadow: 0 1px 0 0 #0d47a1;;
}

#password[type=password]:hover {
  border-bottom: 1px solid #CAE4DB;;
  box-shadow: 0 1px 0 0 #CAE4DB;;
}

#username[type=text]:enabled {
  border-bottom: 1px solid #0d47a1;;
  box-shadow: 0 1px 0 0 #0d47a1;;
}

#username[type=text]:hover {
  border-bottom: 1px solid #CAE4DB;;
  box-shadow: 0 1px 0 0 #CAE4DB;;
}

.sidenav-trigger {
  margin-left: 20px;
  size: 40px;
  color: #CAE4DB;
}

#welcome {
  margin-left: 20px;
}

.sidenav {
  background-color: white;
}

.subheader {
  font-size: 24px;
}



 /* affects main page background*/
 .backgroundimg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}



#back1 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("./backgroundimage1.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#back2 {
  background:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("./backgroundimage2.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#back3 {
  background:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("./backgroundimage3.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#back4 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url("./backgroundimage4.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#back5 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url("./backgroundimage5.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#backgroundchange div:nth-of-type(1) {
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
}

#backgroundchange div:nth-of-type(2) {
  animation-delay: 15s;
  -webkit-animation-delay: 15s;
}

#backgroundchange div:nth-of-type(3) {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

#backgroundchange div:nth-of-type(4) {
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

#backgroundchange div:nth-of-type(5) {
  animation-delay: 0;
  -webkit-animation-delay: 0;
}

#backgroundchange div {
  animation-name: backgroundchangeFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  -webkit-animation-name: backgroundchangeFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
}
/* end of main page background */

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
body, html{
  height: 100%;
}
}

.container{
  height: 100%;
}
.container-404{
  background-image: url("./broken-404.gif");
  /* background: red; */
  height: 100%;
  background-position: center;
  background-size: cover;
  color: #EE9403;
  background-repeat: none;
}